body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
}


.header-image-description {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.header-image {
  grid-column: 3 / 4;
  margin-top: 8em;
   scale: 1.7; 
 
  

}

.header-text {
grid-column: 2 / 2;
justify-content: center;
margin-top: 8em;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-titel {
  font-weight: bolder;
  font-size: xx-large;
  color: white;
}

.links {
  color: rgb(6, 81, 3);
  grid-column: 2 / 3;
  grid-row: 1;
  align-items: center;
  justify-content: center;
  font-size: xx-small;
  display: inline;
}


/* ////////////////////////////////////////////////////////////// */



.sectie-containers {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3fr;
  column-gap: 1em;
  margin-left: 1em;
  margin-top: 16em;
  margin-right: 1em;
  margin-bottom: 2em;
}





.sectie-1 {
  background-color: #e3e0e0;
}

.sectie-2 {
  background-color: rgba(185, 194, 185, 0.996);

}



.titel {
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: black;

}

.sub-titel {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 800;
  margin: 10px;


}

.paragraaf {
  margin: 10px;

}

img {
  width: 21vw;
  height: 22em;

}