body {
  margin: 0;
}

.navigatie {
  list-style-type: none;
  display: grid;
  gap: 10em;
  grid-template-columns: repeat(4,1fr); 
  grid-template-rows: 1fr;
   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   text-align: center;
  font-size: x-large;
  font-weight: bold; 
  background-color: black;
  padding: 1em;
  
}

a {
  text-decoration: none;
  color: white;

}
a:hover {
  color: #008000;

}




