body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navigatie {
  list-style-type: none;
  display: grid;
  gap: 4em; 
  grid-template-columns: repeat(5, 1fr); 
  font-size: large;
  font-weight: bold;
  background-color: #004d11; 
  padding: 1em;
  margin: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  border-bottom: 3px solid #6dcd7b; 
}

a {
  text-decoration: none;
  color: #ffffff; 
  padding: 0.5em 1em; 
  display: inline-block;
  border-radius: 8px; 
  transition: color 0.3s ease, background-color 0.3s ease;
}


a:hover {
  color: #004d11; 
  background-color: #6dcd7b; 
  transform: translateY(-3px); 
}

/* 
@media (max-width: 768px) {
  .navigatie {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .navigatie {
    grid-template-columns: 1fr; 
  }
} */
